.override-chart-height {
  height: 225px !important;
}

.line-chart-info {
  display: flex;
  flex-direction: column;
}

.main-row {
  display: flex;
}

.main-row-part-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.main-row-part-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.sub-card {
  height: fit-content;
  width: 60%;
}

.info-row {
  display: flex;
  justify-content: space-between;
}

.pie-chart-center {
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .main-row {
    flex-direction: column;
    row-gap: 25px;
    justify-content: center;
  }

  .main-row-part-1 {
    display: none;
  }

  .main-row-part-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .sub-card {
    display: flex;
    flex-direction: column;
    background-color: #4fbaaf;
    padding: 15px;
    border-radius: 25px;
    row-gap: 25px;
    width: fit-content;
    height: fit-content;
  }
}
