<div class="card">
    <div class="card-body-column">
        <div>
            <h2>EV Overview</h2>
            <div class="main-row">
                <div class="main-row-part-1">
                    <img src="../../assets/eletric-car-img.svg">
                </div>
                <div class="main-row-part-2">
                    <div class="sub-card">
                        <div class="sub-card-title">
                            <h3>EV</h3>
                            <fa-icon [icon]="faCar"></fa-icon>
                        </div>
                        <div class="sub-card-content">
                            <div class="info-row"><p>Charging/Discharging:</p><p> +/- kW</p></div>
                            <div class="info-row"><p>Energy Charged Today:</p><p> -- kWh</p></div>
                            <div class="info-row"><p>State of Charge:</p><p> --</p></div>
                            <div class="info-row"><p>Minimum Current:</p><p> -- A</p></div>
                            <div class="info-row"><p>Status:</p><p> --</p></div>
                            <div class="info-row"><p>V2G Availability:</p><p> --</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Energy Overview</h2>
            <div class="pie-chart-center">
                <app-piechart></app-piechart>
            </div>
        </div>
        <div class="line-chart-info">
            <h2>Performance and Historical Data</h2>
            <app-linechart-v2></app-linechart-v2>
        </div>
    </div>
</div>