<div class="nav">
  <div class="nav-img">
    <img src="../assets/ev4eu-icon.png" (click)="navigateToHome()">
  </div>
  <div class="nav-links">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">REAL-TIME</a>
    <a routerLink="ev" routerLinkActive="active">EV</a>
    <a routerLink="bess" routerLinkActive="active">BESS</a>
    <a routerLink="pv" routerLinkActive="active">PV</a>
  </div>
</div>
<div class="page-content">
  <router-outlet></router-outlet>
</div>
