<div class="card">
    <div class="card-body">
        <div class="sub-card">
            <div class="sub-card-title">
                <h3>EVSE</h3>
                <fa-icon [icon]="faCar"></fa-icon>
            </div>
            <div class="sub-card-content">
                <p>22 kW</p>
                <p>SOC 25%</p>
            </div>
        </div>
        <div class="sub-card">
            <div class="sub-card-title">
                <h3>BESS</h3>
                <fa-icon [icon]="faBattery"></fa-icon>
            </div>
            <div class="sub-card-content">
                <p>10 kW</p>
                <p>SOC 75%</p>
            </div>
        </div>
        <div class="sub-card">
            <div class="sub-card-title">
                <h3>PV Unit</h3>
                <fa-icon [icon]="faSolarPanel"></fa-icon>
            </div>
            <div class="sub-card-content">
                <p>11 kW</p>
            </div>
        </div>
        <div class="sub-card">
            <div class="sub-card-title">
                <h3>Grid</h3>
                <fa-icon [icon]="faPlug"></fa-icon>
            </div>
            <div class="sub-card-content">
                <p>65 kW</p>
            </div>
        </div>
        <div class="sub-card">
            <div class="sub-card-title">
                <h3>Loads</h3>
                <fa-icon [icon]="faHouseChimney"></fa-icon>
            </div>
            <div class="sub-card-content">
                <p>102 kW</p>
            </div>
        </div>
    </div>
</div>